.aboutContainer {
  padding: 30px;
  .about {
    letter-spacing: 1px;
    font-size: 25px;
    width: 600px;
  }
  .flag {
    position: absolute;
    left: 145vh;
    bottom: 25vw;
    height: 30vh;
    border-radius: 13px;
  }
}
