.social {
  font-size: 25px;
  .fa-instagram {
    color: rgb(182, 44, 101);
    padding: 10px;
  }
  .fa-twitter {
    color: rgb(26, 160, 201);
    padding: 10px;
  }
  .fa-github {
    color: rgb(43, 40, 40);
    padding: 10px;
  }
}

.credits {
  text-align: center;
}
