<footer>
  <div class="credits">
    Tyizo © 2021 all rights reserved.
    <br />
    <div class="social">
      <a href="https://www.instagram.com/1xm0d/"
        ><li class="fab fa-instagram"></li
      ></a>
      <a href="https://github.com/tyizo/"><li class="fab fa-github"></li></a>
      <a href="https://twitter.com/1xm0d"><li class="fab fa-twitter"></li></a>
    </div>
  </div>
</footer>
