<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Tyizo | About</title>
  </head>
  <body>
    <!-- Header -->
    <%- include('./partials/header'); -%>
    <!-- Home Body -->
    <div class="aboutContainer">
      <img src="assets/iraq.png" alt="Iraq Flag" class="flag" />
      <div class="about">
        I'm Tyizo Full Stack devloper, From Iraq. I love coding and tech stuff,
        I started coding since 2020/9/11 I'm kinda new to programming, I can
        make discord bots & website. I work with JavaScript/TypeScript the most,
        but I code in php and python sometimes. I always start my day with a cup
        of coffee and yeah that's it lol.
      </div>
    </div>
    <!-- Footer -->
    <%- include('./partials/footer'); -%>
    <script src="js/darkTheme.js"></script>
  </body>
</html>
