<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Tyizo | Contect</title>
  </head>
  <body>
    <!-- Header -->
    <%- include('./partials/header'); -%>
    <!-- Home Body -->
    <div class="contect">
      <div class="message">Get In Toach!</div>
      <br />
      <div class="wrapper">
        <div class="icon discord">
          <div class="tooltip">Tyizo#7315</div>
          <span><i class="fab fa-discord"></i></span>
        </div>
        <div class="icon twitter">
          <div class="tooltip">1xm0d</div>
          <span><i class="fab fa-twitter"></i></span>
        </div>
        <div class="icon instagram">
          <div class="tooltip">1xm0d</div>
          <span><i class="fab fa-instagram"></i></span>
        </div>
        <div class="icon github">
          <div class="tooltip">tyizo</div>
          <span><i class="fab fa-github"></i></span>
        </div>
        <div class="icon youtube">
          <div class="tooltip">Tyizo</div>
          <span><i class="fab fa-youtube"></i></span>
        </div>
      </div>
    </div>

    <script src="js/darkTheme.js"></script>
  </body>
</html>
