<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Tyizo | Projects</title>
  </head>
  <body>
    <!-- Header -->
    <%- include('./partials/header'); -%>
    <!-- Home Body -->
    <div style="text-align: center; font-size: 30px; padding: 90px">
      Soon ...
    </div>
    <!-- Footer -->
    <%- include('./partials/footer'); -%>
    <script src="js/darkTheme.js"></script>
  </body>
</html>
